﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.image-work {
    max-height:250px;
    max-width:250px;
    border:3px solid #000;
    margin-top:4px;
}

.image-carousel {
    margin: 0 auto;
    max-height: 375px;
    min-height: 375px;
    width:auto;
    border:3px solid #000;
}

.image-self {
    border:3px solid #fff;
    margin:10px 10px 10px 10px;
    max-height: 200px;
}

.carousel-inner > .item > img {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}