{% extends "app/layout.html" %}

{% block content %}


<div class="hidden-xs">
    <div class="row">
        <div class ="col-md-8">
            <h1>Ernie Savastano</h1>
            <p class="lead">This is the official page of the artist</p>
        </div>
         <div class ="col-md-4">
            {% load staticfiles %}
            <img src="{% static 'media/headshot.png' %}" alt="Me" class="image-self"/>
        </div>
    </div>    
</div>

<div class="cen">
<div id="my-carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
    {% for i in all_pieces %}        
		<li data-target="#my-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>        
    {% endfor %}		
	</ol>
	<div class="carousel-inner">
        {% for i in all_pieces %}
            {% if forloop.first %}
        <div class="active item">
            {% else %}
		<div class="item">
            {% endif %}
			<img alt="{{ i.p_desc }}" src="{% static 'media/' %}{{ i.p_pic_path }}" class="image-carousel img-responsive center-block" />
			<div class="carousel-caption hidden-xs">
				<h3>{{ i.p_name }}</h3>
				<p>{{ i.p_desc }}</p>
			</div>
		</div>
        {% endfor %}		
	</div>
	<a class="left carousel-control" href="#my-carousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#my-carousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
    </div>
</div>
</div>

<div class="visible-xs">
    <h1>Ernie Savastano</h1>
    <p class="lead">This is the official page of artist, Ernie Savastano</p>    
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>1</h2>
        
    </div>
    <div class="col-md-4">
        <h2>2</h2>
        
    </div>
    <div class="col-md-4">
        <h2>3</h2>
        
    </div>
</div>-->

{% endblock %}
