﻿{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<!--<img src='/static/media/ganny.jpg' alt='The Ganny'/>--->

<div>
    {% for p in all_pieces %}
        {% load staticfiles %}
        <img src="{% static 'media/' %}{{ p.p_pic_path }}" alt="{{ p.p_desc }}"  class="image-work"/>
    {% endfor %}

</div>

{% endblock %}
